@model IEnumerable<LastTodoApp.Domain.Entities.Task>

<!DOCTYPE html>
<html>
<head>
    <!-- Include your CSS and other head elements here -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mt-3">Task Control App</h1>
                <br />

                <div style="display:flex;flex-direction:row;gap:20px;align-items:center">
                    @if (User.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("MANAGER") || User.IsInRole("ADMIN")))
                    {
                        <div class="add__btn-div">
                            <a style="padding:8px 50px; text-decoration:none" asp-controller="Task" asp-action="Add" class="btn btn-info">Add Task</a>
                        </div>
                    }

                    @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                    {
                        <div style="margin:10px">
                            <a style="padding:8px 50px; text-decoration:none" class="btn btn-success" asp-action="AddUserIndex" asp-controller="Account">Add User</a>
                        </div>
                        <div style="margin:10px">
                            <a style="padding:8px 50px; text-decoration:none" class="btn btn-danger" asp-action="Index" asp-controller="Audit">Audit</a>
                        </div>
                    }
                </div>
                <br />

                <div class="row">
                    <div class="col-md-4">
                        <form id="searchForm">
                            <div class="form-group" style="display:flex;">
                                <input type="text" id="searchEmail" name="searchEmail" autocomplete="off" class="form-control" placeholder="Type user email address here ..." />
                                <br />
                                <button type="button" class="btn btn-primary" id="searchButton">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br />

                @if (Model != null && Model.Any())
                {
                    <table class="table" id="tasksTable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>DueDate</th>
                                <th>Status</th>
                                <th>User Email</th>

                                @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                                {
                                    <th>Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var task in Model)
                            {
                                <tr>
                                    <td>@task.Id</td>
                                    <td>@task.Title</td>
                                    <td>@task.Description</td>
                                    <td>@task.DueDate</td>
                                    <td>@task.Status</td>
                                    <td>@task.User?.Email</td>

                                    @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                                    {
                                        <td>
                                            <a href="@Url.Action("Edit", new { id = task.Id })" class="btn btn-warning">Update</a>
                                            <a href="@Url.Action("Delete", new { id = task.Id })" class="btn btn-danger">Delete</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p style="font-size:26px; color:darkred">No tasks available.</p>
                }
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>





</body>
</html>
